@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "Inter", sans-serif;
}

:root {
  --bg: #111111;
  --black: #000000;
  --border: #1d1d1d;
  --gray: #c4c4c4;
  --white: #ffffff;
  --textcolor: #e0e0e0;
  --eventyrgreen: #15b428;
  --error: #e7195a;
}

::selection {
  color: var(--eventyrgreen);
}

body {
  background-color: var(--bg);
}

/* nav */
nav {
  position: fixed;
  z-index: 998;
  display: flex;
  align-items: center;
  background-color: var(--black);
  width: 100%;
  height: 60px;
  border-bottom: 2px solid var(--border);
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--border);
  border-radius: 5px;
  margin-right: auto;
}
.search-bar .icon {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: var(--textcolor);
}

nav input {
  display: block;
  background-color: transparent;
  color: var(--textcolor);
  outline: none;
  border: none;
  margin: 0 auto;
  width: 30vw;
  font-size: 16px;
  transition: all 0.2s;
  padding: 10px;
}

.eventyr-logo {
  display: inline;
  margin-right: auto;
  width: 50px;
}

.add-button {
  display: inline;
  width: 60px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--black);
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.add-button:hover {
  background-color: var(--eventyrgreen);
  color: var(--white);
  transition: all 0.2s;
}

/* input popup */
.new-write-popup {
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--black);
  width: 80%;
  height: 600px;

  border-radius: 5px;
  border: 2px solid var(--border);
}

@media screen and (min-width: 900px) {
  .new-write-popup {
    width: 65%;
  }

  nav {
    padding-inline-start: 6rem;
    padding-inline-end: 6rem;
  }
}

@media screen and (min-width: 1200px) {
  .new-write-popup {
    width: 30%;
  }
  nav {
    padding-inline-start: 12rem;
    padding-inline-end: 12rem;
  }
}

@media screen and (min-width: 2500px) {
  .cards-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}

.top-container {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 1rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}

.new-write-popup .new-write-p,
.new-write-popup .card-edit-p {
  margin-right: auto;
  font-size: 26px;
  font-weight: 800;
  color: var(--textcolor);
}

.new-write-popup .card-edit-p {
  font-size: 24px;
}

.new-close-btn {
  padding: 5px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.new-submit-btn {
  margin-top: 3.5rem;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--eventyrgreen);
  color: var(--white);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.delete-btn {
  margin-top: 0.5rem;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--white);
  color: var(--black);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.inputs-container {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: right;
  flex-direction: column;
  margin-top: 2rem;
  /* text-align: center; */
}

.inputs-container .error-p {
  margin: 0 auto;
  margin-top: 0.4rem;
  color: var(--error);
  font-size: 14px;
  font-weight: 300;
}

.nickname-container label,
.sanction-container label,
.reason-container label,
.staff-container label {
  display: block;
  font-size: 16px;
  color: var(--gray);
  margin-bottom: 5px;
}

.nickname-container input,
.staff-container input {
  display: block;
  background-color: var(--border);
  color: var(--textcolor);
  outline: none;
  border: none;
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.2s;
  padding: 10px;
}

.sanction-container,
.staff-container,
.reason-container {
  margin-top: 1.3rem;
}

.sanction-container select {
  display: block;

  background-color: var(--border);
  color: var(--textcolor);
  outline: none;
  border: none;
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.2s;
  padding: 10px;

  overflow-x: scroll;
  cursor: pointer;
}

.select-wrapper {
  max-height: 100px;
}

.reason-container textarea {
  display: block;
  background-color: var(--border);
  color: var(--textcolor);
  outline: none;
  border: none;
  width: 100%;
  height: 50%;
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.2s;
  padding: 10px;
  resize: none;
}
/* cards */

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 8rem;
  margin: 0 auto;
  align-items: center;
  transition: 0.5s all;
}

.cards-wrapper.blur {
  filter: blur(2px);
  transition: 0.5s all;
}

.card {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: left;
  flex-direction: column;
  background-color: var(--black);
  border-radius: 5px;
  border: 2px solid var(--border);
  color: var(--textcolor);
  font-size: 14px;
  height: 200px;
  outline: 0;
  width: 280px;
  padding: 20px;
  margin: 8px;

  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: left;
  flex-direction: column;
  margin-top: 2rem;
}

.card-top-container {
  display: flex;
  align-items: center;
}
.card h1 {
  display: inline-block;
  margin-right: auto;
  font-size: 20px;
  overflow: hidden;
}

.card-update-btn {
  display: inline-block;
  margin-left: auto;
  padding: 5px;
  font-weight: 500;
  background-color: transparent;
  color: var(--white);
  border: none;
  cursor: pointer;
}

.card-sanction {
  display: block;
  font-size: 16px;
  font-weight: 500;
}

.card-reason {
  display: block;
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: 300;
}

.spacer-line {
  margin-top: 1rem;
  width: 100%;
  height: 1px;
  background-color: var(--border);
}

.card-bottom-container {
  display: flex;
  margin-top: auto;
}

.card-bottom-container .card-date {
  display: inline-block;
  margin-right: auto;
  font-weight: 600;
}

.card-bottom-container .card-staff {
  display: inline-block;
  margin-left: auto;
  font-weight: 600;
}

@media only screen and (max-width: 1700px) {
  .cards-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1500px) {
  .cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1150px) {
  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .cards-wrapper {
    display: flex;
    flex-direction: column;
  }
}
